@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "EncoreTix";
}

<div class="loading">
    <img class="load-img" src="~/img/EncoreTixLogo.png" />
</div>

<div class="row" style="padding-top:14px;">
    <div class="col-sm-10">
        <input type="text" name="SearchQuery" id="SearchQuery" placeholder="Search attractions..."/>
    </div>
    <div class="col-sm-2">
        <input type="button" class="submit-btn" value="Submit" id="SubmitSearch" onclick="SearchVenues();"/>
    </div>
</div>

<div class="container" id="ResultList"></div>
<div class="container" id="VenueData"></div>

<script type="text/javascript">
    $(document).ready(function () { 
        setTimeout(function () {
            $(".loading").hide();
        }, 500);
    });
    $("#SearchQuery").on("focus", function () {
        if ($(this).val() == "") {
            $(this).val("Phish");
        }
    });
    function SearchVenues(){
        $.ajax({
            type: "post",
            url: "/Index?handler=Search",
            data: { SearchQuery: $("#SearchQuery").val() }, 
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (data) {
                $("#ResultList").html("");
                $("#VenueData").html("");
                $("#ResultList").html(data);
            }
        });
    }
    function ShowEventDetails(eventId) {
        $.ajax({
            type: "post",
            url: "/Index?handler=Details",
            data: { EventId: eventId },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (data) {
                $("#VenueData").html("");
                $("#VenueData").html(data);
            }
        });
    }
</script>