@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "EncoreTix";
}

<div class="loading">
    <img class="load-img" src="~/img/EncoreTixLogo.png" />
</div>

<div class="row" style="padding-top:14px;">
    <div class="col-sm-10">
        <input type="text" class="form-control" name="SearchQuery" id="SearchQuery" placeholder="Search attractions..."/>
    </div>
    <div class="col-sm-2">
        <input type="button" class="submit-btn form-control" value="Submit" id="SubmitSearch" onclick="SearchVenues();" />
    </div>
</div>

<div class="container" id="ResultList"></div>
<div style="width:100%;display:none;margin:10px;" id="attImgContainer">
    <img src="" id="attractionImg" style="width:100%;"/>
</div>
<div class="container" id="VenueData"></div>

<script type="text/javascript">
    $(document).ready(function () { 
        setTimeout(function () {
            $(".loading").hide();
        }, 500);
    });
    $("#SearchQuery").on("focus", function () {
        if ($(this).val() == "") {
            $(this).val("Phish");
        }
    });
    function SearchVenues(){
        $.ajax({
            type: "post",
            url: "/Index?handler=Search",
            data: { SearchQuery: $("#SearchQuery").val() }, 
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (data) {
                $("#attImgContainer").hide();
                $("#ResultList").html("");
                $("#VenueData").html("");
                $("#ResultList").html(data);
            }
        });
    }
    function ShowEventDetails(attrId, attrName, ytlink, twlink, splink, homelink, imgUrl) {        
        $.ajax({
            type: "post",
            url: "/Index?handler=Details",
            data: { AttrId: attrId },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (data) {
                $("#ResultList").html("");
                $("#VenueData").html("");
                $("#VenueData").html(data);
                $("#AttractionName").html(attrName);
                $("#AttYoutube").prop("href", ytlink);
                if (ytlink == "#") {
                    $("#AttYoutube").removeAttr("target")
                }
                $("#AttTwitter").prop("href", twlink);
                if (twlink == "#") {
                    $("#AttTwitter").removeAttr("target")
                }
                $("#AttSpotify").prop("href", splink);
                if (splink == "#") {
                    $("#AttSpotify").removeAttr("target")
                }
                $("#AttHomepage").prop("href", homelink);
                if (homelink == "#") {
                    $("#AttHomepage").removeAttr("target")
                }
                $("#attractionImg").prop("src", imgUrl);
                $("#attImgContainer").show();
            }
        });
    }
</script>