@using BlueTreadHiringAssessment.Classes
@model IEnumerable<Event>

@if(Model != null && Model.Any()){
    foreach(var row in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                <img src="@row.Images[0].Url" style="height:40px;" />
            </div>
            <div class="col-sm-10">
                <a href="#" style="text-overflow:ellipsis" onclick="ShowEventDetails(@row.Id)">@row.Name</a>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <img src="~/img/NoResults.png" class="no-results"/>
        </div>
    </div>
}